<% content_for :title do %>程式下載｜意傳文化科技<% end %>
<% content_for :description do %>開放下載意傳科技的組字工具，請到此頁下載組字工具的完整程式碼。<% end %>

<%# encoding: utf-8 %>
<div class="huainn5">
<article>
	<section id="程式下載" class="font22px">
		<header>標音程式下載<hr/></header>
		<p>
			臺灣言語工具是以臺灣語言為主，量身打造的資訊系統，可應用於教材編排、語音辨識、合成、翻譯、…等等。<br/>
			緣起於本土文化推廣與傳承，故採用SocialCalc設計的<%= 
			link_to '通用公共授權（Common Public Attribution License, CPAL)',
				'https://github.com/sih4sing5hong5/tai5_uan5_gian5_gi2_kang1_ku7/blob/master/%E8%87%BA%E7%81%A3%E8%A8%80%E8%AA%9E%E5%B7%A5%E5%85%B7%E7%A8%8B%E5%BC%8F%E6%8E%88%E6%AC%8A' 
			%>開放<%=
			link_to '原始碼', 'https://github.com/sih4sing5hong5/tai5_uan5_gian5_gi2_kang1_ku7' %>及<%= 
			link_to '資料庫','/言語資料庫/臺灣言語工具1021127.sql.bz2'
			 %>，非常歡迎各界用於商業軟體，但希望在使用之餘，能夠提供建議、錯誤回報或修補，回饋給這塊土地。<br/>
		</p>
		<p>
			臺灣言語工具開發特色：
			<ul>
			<li>Python3撰寫</li>
			<li>postgreSQL資料庫</li>
			<li>建議使用<%= link_to 'Mint', 'http://www.linuxmint.com/download.php' %>或<%= link_to 'Ubuntu', 'http://www.ubuntu.com/download' %>作業系統</li>
			<li>已使用<%= link_to 'Eclipse', 'http://www.eclipse.org/downloads/' %>，及<%= link_to 'EGit', 'http://www.eclipse.org/egit/download/' %>、<%= link_to 'PyDev', 'http://pydev.org/manual_101_install.html' %>外掛開發</li>
			<li><%= link_to 'github專案','https://github.com/sih4sing5hong5/tai5_uan5_gian5_gi2_kang1_ku7' %>程式下載及版本控制</li>
			<li>開放<%= link_to '資料庫','/言語資料庫/臺灣言語工具1021127.sql.bz2' %></li>
			</ul>
		</p>
		<p>
		如有需要，請參考github專案內部說明。
		</p>

	</section>
</article>
</div>