<%# encoding: utf-8 %>
<div class="huainn5">
	<article>
		<section>
			標音方法
			<hr />
			<p>
				目前先以閩南語漳州腔來測試，泉州腔及客家話待功能完整即會放上。<br />
			</p>
			<form
				onSubmit="javascript:return tsha5('./自動標音/'+$('#ai3tsha5').val())">
				<p>
					<input type="radio" name="言語種類" value="閩南語偏漳腔"
						onClick="javascript:重設文白()" checked>閩南語偏漳腔 <input
						type="radio" name="言語種類" value="閩南語偏泉腔"
						onClick="javascript:重設文白()" disabled="disabled">閩南語偏泉腔 <input
						type="radio" name="言語種類" value="閩南語混合腔"
						onClick="javascript:重設文白()" disabled="disabled">閩南語混合腔 <br />
					<input type="radio" name="言語種類" value="客家話四縣腔"
						onClick="javascript:重設文白()" disabled="disabled">客家話四縣腔 <input
						type="radio" name="言語種類" value="客家話海陸腔"
						onClick="javascript:重設文白()" disabled="disabled">客家話海陸腔 <input
						type="radio" name="言語種類" value="客家話大埔腔"
						onClick="javascript:重設文白()" disabled="disabled">客家話大埔腔<br />
					<input type="radio" name="言語種類" value="客家話饒平腔"
						onClick="javascript:重設文白()" disabled="disabled">客家話饒平腔 <input
						type="radio" name="言語種類" value="客家話詔安腔"
						onClick="javascript:重設文白()" disabled="disabled">客家話詔安腔 <input
						type="radio" name="言語種類" value="國語" onClick="javascript:重設文白()"
						disabled="disabled">國語<br />
				</p>
				<p>
					標音選項：<select id="標音選項" disabled="disabled">
						<option value="臺羅數字加注音">臺羅數字加注音</option>
						<option value="臺羅閏號加注音">臺羅閏號加注音</option>
						<option value="通用加注音">通用加注音</option>
						<option value="注音符號">注音符號</option>
						<option value="臺羅數字調">臺羅數字調</option>
						<option value="臺羅閏號調">臺羅閏號調</option>
						<option value="通用拼音">通用拼音</option>
					</select>
				</p>
				<p>
					<input type="radio" name="言語層" value="白話音"
						onClick="javascript:重設文白()" checked>白話音 <input
						type="radio" name="言語層" value="文讀音" onClick="javascript:重設文白()">文讀音<br>
					<input type="text" size="20" id="ai3tsha5" value="我有一張椅仔！！"><input
						type="submit" value="標音">
				</p>
			</form>
			<p>
				<span id="tsha5e5kiat4ko2"></span>
			</p>
			<p>
				製表字體大小：<select id="字大細" onchange="javascript:調整表字體大細()">
					<option value="16">16</option>
					<option value="20">20</option>
					<option value="24" selected="selected">24</option>
					<option value="36">36</option>
					<option value="48">48</option>
				</select><br /> 製表每行字數：<select id="逐逝幾字">
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11" selected="selected">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
				</select><br />
				<input type="button" value="製表" onClick="javascript:製稿表()">
			</p>
			<div id="稿表"></div>
			<hr />
			<p>
				註甲：若有字音不符期待，可點選該字，就會變換標音！！<br />
				註乙：若字體大小選16，建議每行字數為16；大小20，建議字數13；大小24，建議字數為11；大小36，建議字數8；大小48，建議字數6。<br />
			</p>
		</section>
		<section>
			文書處理器編輯說明
			<hr />
			<p>
				標音結果可於微軟Ｗord文書處理器上編輯，但是因為Word本身限制，需先由LibreOffice將製表結果存至odt檔（若量小可以使用複製的），再由微軟Word打開，詳細流程如下：<br />
			</p>
			<p>
				0.請先下載並安裝<a href="http://zh-tw.libreoffice.org/download/">LibreOffice</a>，選最新版的（第一個）即可。<br />
				<%= image_tag('piau1im1/00.jpg', :class => "suet4bing5too5") %><br />
			</p>
			<p>
				1.先選擇需要的腔，標音方法，並輸入要標音的字。<br /> <%= image_tag('piau1im1/01.jpg',
				:class => "suet4bing5too5") %><br />
			</p>
			<p>
				2.按「標音」鍵，會產生標音結果。<br /> <%= image_tag('piau1im1/02.jpg', :class =>
				"suet4bing5too5") %><br />
			</p>
			<p>
				3.若有字音不符期待，可點選該字，就會變換標音。<br />
			</p>
			<p>
				4.標音完選好選項後按「製表」，產生表格格式供使用。<br /> <%= image_tag('piau1im1/04.jpg',
				:class => "suet4bing5too5") %><br />
			</p>
			<p>
				5.將網頁另存新檔。<br /> <%= image_tag('piau1im1/05.jpg', :class =>
				"suet4bing5too5") %><br />
			</p>
			<p>
				6.要選擇「完整格式」。<br /> <%= image_tag('piau1im1/06.jpg', :class =>
				"suet4bing5too5") %><br />
			</p>
			<p>
				7.使用第０步下載的LibreOffice Writer打開。<br /> <%=
				image_tag('piau1im1/07.jpg', :class => "suet4bing5too5") %><br />
			</p>
			<p>
				8.可以看到網頁，將製表以外的額外頁面刪除，留需要的部份。<br /> <%=
				image_tag('piau1im1/08.jpg', :class => "suet4bing5too5") %><br />
			</p>
			<p>
				9.另存新檔，將存成odt檔。<br /> <%= image_tag('piau1im1/09.jpg', :class =>
				"suet4bing5too5") %><br />
			</p>
			<p>
				10.選擇ODT檔案格式。<br /> <%= image_tag('piau1im1/10.jpg', :class =>
				"suet4bing5too5") %><br />
			</p>
			<p>
				11.之後可依習慣選擇文書處理器。若使用注音，漢字建議調整為24，與圖同寬。<br /> <%=
				image_tag('piau1im1/11.jpg', :class => "suet4bing5too5") %><br />
			</p>
			<p>
				註：若選擇使用微軟的Word，其2007之後的版本已支援odt，2003之前的版本需裝「Sun ODF Plugin for
				Microsoft Office」。<br /> 12.若使用微軟Word，需再另外新檔為doc檔編輯。<br /> <%=
				image_tag('piau1im1/12.jpg', :class => "suet4bing5too5") %><br />
			</p>
		</section>
	</article>
</div>
