<%# encoding: utf-8 %>
<div class="tit8">
	<article>
		<section class="font22px">
		<table>
			<tr>
				<th colspan="2"><header>閩客語的演變</header></th>
			</tr>
			<tr>
				<td style="border-right:1px solid #666;">
					<ul>
					<li style="margin-top:50px;"><p><%= link_to "閩客語有文字？", :action=>"閩客語的演變", :anchor=>"閩客語有文字" %></p>
						<blockqoute>沒錯，少數的詞彙原來是沒有漢字的。例如閩南語中男生...</blockqoute></a></li>
					<li><p><%= link_to "廣韻：揭開漢語方言的演化史", :action=>"閩客語的演變", :anchor=>"廣韻" %></p>
						<blockqoute>《廣韻》是現今保存最完整的、最古老的、也是最重要的一部韻書。...</blockqoute></li>
					<li><p><%= link_to "廣韻：揭開漢語方言的演化史", :action=>"閩客語的演變", :anchor=>"廣韻" %></p>
					</ul>
				</td>
				<td>
					<ul>
					<li><p><%= link_to "拼音方案是什麼？", :action=>"閩客語的演變", :anchor=>"拼音方案" %></p>
						<blockqoute>「拼音」是指直接用拼音作為文字，也可以當作白話字的增補。...</blockqoute></li>
					<li><p><%= link_to "淺談方音符號", :action=>"閩客語的演變", :anchor=>"方音符號" %></p>
						<blockqoute>方音符號又稱方言音符號，將國語注音增添一些符號來標注閩南話和客家話。...</blockqoute></li>
					</ul>
				</td>
			</tr>
		</table>
		</section>
	</article>
</div>
			