<%# encoding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>意傳文化科技　－　閩南語、客語的系統開發</title>
	<!--<%= favicon_link_tag 'favicon_i3thuan5.png' ,:type => 'image/png' %>-->
	<link rel="shortcut icon" href="/assets/favicon_i3thuan5_pink.png" type='image/png' >
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>

<body>
	<div id="網頁最外圍">
		<div id="leftWrapper">
			<div id="banner">
				<div id="標題">
					<b>意傳文化科技</b> － 閩南語、客家話教材系統開發
				</div>
				<div id="公告">
					<!-- 本站各項功能近期內皆會公開程式碼供大家使用－敬請期待<br/>-->
					若熟悉南島語（原住民語），歡迎與我們聯絡！！
				</div>
			</div>
			<div id="mainContainer">
				<%= yield :layout %>
			</div>
			<div id="footer">感謝參觀，歡迎推廣。本站各項功能近期內皆會公開程式碼供大家使用</div>
			<address></address>
		</div>
		<div id="rightWrapper">
			<div id="logobox">
			<a id="logo" href="http://意傳.台灣/關於意傳">
			<img alt="LOGO" src="/assets/pan2_hing5/ituanLOGO_1.png" border="0" width="175px" height="180px"></img>
			</a>
			</div>
		<nav id="topNav">
			<ul>
				<li><%= link_to "關於意傳", :action=>"關於意傳" %>
					<table>
					<tr><td class="subcolor1"><a href="#AAAAA">關於意傳</a></td></tr>
					<tr><td class="subcolor2"><a href="#AAAAA">標音成果</a></td></tr>
					<tr><td class="subcolor3"><a href="#AAAAA">特此聲明</a></td></tr>
					</table>
				</li>
				
				<li><%= link_to "服務資訊", :action=>"產品資訊" %>
					<table>
					<tr><td class="subcolor1"><a href="#AAAAA">範例一</a></td></tr>
					<tr><td class="subcolor2"><a href="#AAAAA">範例二</a></td></tr>
					</table>
				</li>

				<li><%= link_to "橫式範例", :action=>"橫式範例" %>
					<table>
					<tr><td class="subcolor1"><a href="#AAAAA">範例一</a></td></tr>
					<tr><td class="subcolor2"><a href="#AAAAA">範例二</a></td></tr>
					</table>
				</li>
				
				<li><%= link_to "注音介紹", :action=>"注音介紹" %>
					<table>
					<tr><td class="subcolor1"><a href="#AAAAA">範例一</a></td></tr>
					<tr><td class="subcolor2"><a href="#AAAAA">範例二</a></td></tr>
					</table>
				</li>
				
				<li><%= link_to "標音方法", :action=>"標音方法" %>
					<table>
					<tr><td class="subcolor1"><a href="#AAAAA">標音發音</a></td></tr>
					<tr><td class="subcolor2"><a href="#AAAAA">標音的輸出方法</a></td></tr>							
					</table>
				</li>				
				<li><%= link_to "線上組字", :action=>"線上組字" %>
					<table>
					<tr><td class="subcolor1"><a href="#AAAAA">組字</a></td>
					<tr><td class="subcolor2"><a href="#AAAAA">組字的輸出方法</a></td></tr>
					</table>
				</li>				
				<li><%= link_to "閩客故事", :action=>"閩客歷史" %>
					<table>
					<tr><td class="subcolor1"><a href="#AAAAA">閩客有漢字嗎？</a></td></tr>
					<tr><td class="subcolor2"><a href="#AAAAA">閩客聲韻學</a></td></tr>
					<tr><td class="subcolor3"><a href="#AAAAA">閩客注音</a></td></tr>
					</table>
				</li>				
				<li><%= link_to "相關連結", :action=>"相關連結" %></li>
				<li class="last"><%= link_to "聯絡我們", :action=>"聯絡我們" %></li>
			</ul>
		</nav>
		</div>		
	</div>
	<script>
		(function($){
			
			//cache nav
			var nav = $("#topNav");
			
			//add indicator and hovers to submenu parents
			nav.find("li").each(function() {
				if ($(this).find("table").length > 0) {
					//$("<span>").text("^").appendTo($(this).children(":first"));

					//show subnav on hover
					$(this).mouseenter(function() {
						$(this).find("table").stop(true, true).toggle("slideDown");
					});
					
					//hide submenus on exittt
					$(this).mouseleave(function() {
						$(this).find("table").stop(true, true).css('display','none');
						//slideUp()
					});
				}
			});
		})(jQuery);
	</script>
	<script type="text/javascript">bang2tsam7khai1si2();</script>
</body>
</html>
