<%# encoding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>意傳文化科技　－　傳達你的心意</title>

	<%= stylesheet_link_tag "i3thuan5" %>
	<%= stylesheet_link_tag "han3ji7tsoo2kian7" %>
	<%= stylesheet_link_tag "suann3ting2su1jip8huat4" %>
	<%= stylesheet_link_tag "taketori" %>

	<%= javascript_include_tag "i3thuan5" %>
	<%= javascript_include_tag "han3ji7tsoo2kian7" %>
	<%= javascript_include_tag "suann3ting2su1jip8huat4" %>
	<%= javascript_include_tag "liu5lam2khi7kiam2tsa1" %>
	<%= javascript_include_tag "taketori" %>

</head>

<body>
	<div id="內容">
		<div id="頁首">
			<div id="標題">
				<b>意傳文化科技</b> － 閩南語、客家話教材系統開發
			</div>
			<div id="公告">
				網站持續建置中，預計八月底前完成 － 請務必使用<a
					href="http://moztw.org/firefox/download/latest-win.html">火狐Firefox瀏覽器</a>以獲得直排網頁最佳效果
			</div>
		</div>
		
		<%= yield :layout %>
		
		<footer></footer>
		<address></address>
	</div>
	<div id="目錄">
		<h2>
			<font class="上">意</font><font class="下">傳</font>
		</h2>
		<ul>
			<li><%= link_to "關於意傳", :action=>"關於意傳" %></li>
			<li><%= link_to "橫式範例", :action=>"橫式範例" %></li>
			<li><%= link_to "標音方法", :action=>"標音方法" %></li>
			<li><%= link_to "線上組字", :action=>"線上組字" %></li>
			<li><%= link_to "閩客歷史", :action=>"閩客歷史" %></li>
			<li><%= link_to "相關連結", :action=>"相關連結" %></li>
			<li><%= link_to "聯絡我們", :action=>"聯絡我們" %></li>
		</ul>
	</div>
	<script type="text/javascript">bang2tsam7khai1si2()</script>
</body>
</html>
