<%# encoding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>意傳文化科技　－　閩南語、客語的系統開發</title>
	<!--<%= favicon_link_tag 'favicon_i3thuan5.png' ,:type => 'image/png' %>-->
	<link rel="shortcut icon" href="/assets/favicon_i3thuan5_pink.png" type='image/png' >
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div id="網頁最外圍">
		<div id="leftWrapper">
			<div id="mainContainer">
				<%= yield :layout %>
			</div>
		</div>
		
		<div id="rightWrapper">
			<div id="logobox">
				<a id="logo" href="http://意傳.台灣/關於意傳">
					<img alt="LOGO" src="/assets/pan2_hing5/ituanLOGO_1.png" border="0" width="150px"></img>
				</a>
			</div>
			<div  id="副標題" class="fontKai">閩南語、客語教材系統</div>
			
			<nav id="topNav">
			<ul>
				<li><%= link_to "關於意傳", :action=>"關於意傳" %>
					<table>
					<!-- <tr><td class="subcolor1"><%= link_to "關於意傳", :action=>"關於意傳" %></td></tr> -->
					<tr><td class="subcolor1"><%= link_to "服務資訊", :action=>"關於意傳" %></td></tr>
					<tr><td class="subcolor2"><%= link_to "特此聲明", :action=>"關於意傳" %></td></tr>
					</table>
				</li>
				
				<!--<li><%= link_to "服務資訊", :action=>"產品資訊" %>
				 <table>
					<tr><td class="subcolor1"><%= link_to "服務資訊", :action=>"產品資訊" %></td></tr>
					</table> 
				</li>-->
			
				<!-- <li><%= link_to "注音介紹", :action=>"注音介紹" %>
					<table>
					<tr><td class="subcolor1"><%= link_to "臺羅拼音", :action=>"注音介紹" %></td></tr>
					<tr><td class="subcolor2"><%= link_to "客語拼音", :action=>"注音介紹" %></td></tr>
					<tr><td class="subcolor3"><%= link_to "吳守禮方音", :action=>"注音介紹" %></td></tr>
					</table>
				</li>-->
				<!-- <li><%= link_to "橫式標音", :action=>"橫式範例" %>
					<table>
					<tr><td class="subcolor1"><%= link_to "身騎白馬", :action=>"橫式範例" %></td></tr>
					<tr><td class="subcolor2"><%= link_to "登鸛雀樓", :action=>"橫式範例" %></td></tr>
					<tr><td class="subcolor3"><%= link_to "點仔膠", :action=>"橫式範例" %></td></tr>
					<tr><td class="subcolor4"><%= link_to "客家本色", :action=>"橫式範例" %></td></tr>
					</table>
				</li> -->
				<li><%= link_to "標音工具", :action=>"標音方法" %>
					<table>
					<!-- <tr><td class="subcolor1"><%= link_to "線上標音", :action=>"標音方法",:anchor=>'線上標音' %></td></tr> -->
					<tr><td class="subcolor2"><%= link_to "使用說明", :action=>"標音方法",:anchor=>'使用說明'  %></td></tr>
					<tr><td class="subcolor2"><%= link_to "標音範例", :action=>"橫式範例" %></td></tr>
					<tr><td class="subcolor2"><%= link_to "程式下載", :action=>"標音方法",:anchor=>'程式下載'  %></td></tr>							
					</table>
				</li>				
				<li><%= link_to "組字工具", :action=>"線上組字" %>
					<table>
				<!--<tr><td class="subcolor1"><%= link_to "線上組字", :action=>"線上組字",:anchor=>'線上組字' %></td></tr> -->
					<tr><td class="subcolor2"><%= link_to "使用說明", :action=>"線上組字",:anchor=>'使用說明' %></td></tr>
					<tr><td class="subcolor2"><%= link_to "程式下載", :action=>"線上組字",:anchor=>'程式下載' %></td></tr>
					</table>
				</li>				
				<li><%= link_to "閩客故事", :action=>"閩客歷史" %>
					<table>
					<tr><td class="subcolor1"><%= link_to "閩客有漢字嗎？", :action=>"閩客歷史" %></td></tr>
					<tr><td class="subcolor2"><%= link_to "拼音方案", :action=>"注音介紹" %></td></tr>
					<!-- <tr><td class="subcolor2"><%= link_to "閩客聲韻學", :action=>"閩客歷史" %></td></tr>
					<tr><td class="subcolor3"><%= link_to "閩客注音", :action=>"閩客歷史" %></td></tr>-->
					</table>
				</li>				
				<li><%= link_to "相關連結", :action=>"相關連結" %></li>
				<li class="last"><%= link_to "聯絡我們", :action=>"聯絡我們" %></li>
			</ul>
			</nav>
			
		</div>		
	</div>
	<script>
	
		(function($){
			
			//cache nav
			var nav = $("#topNav");
			
			//add indicator and hovers to submenu parents
			nav.find("li").each(function() {
				if ($(this).find("table").length > 0) {
					//$("<span>").text("^").appendTo($(this).children(":first"));

					//show subnav on hover
					$(this).mouseenter(function() {
						$(this).find("table").stop(true, true).toggle("slideDown");
					});
					
					//hide submenus on exittt
					$(this).mouseleave(function() {
						$(this).find("table").stop(true, true).css('display','none');
						//slideUp()
					});
				}
			});
			
		})(jQuery);
	</script>
	<script type="text/javascript">bang2tsam7khai1si2();
	$(function()
			{
				$('#mainContainer').jScrollPane({showArrows: true});
	});
	</script>
	
</body>
</html>
